@import '../../../styles/mixins';

.basic {
  .case {
    @include set-container();
    padding-top: 16rpx;
    padding-bottom: 16rpx;
    border-bottom: 1px solid #ccc;
  }

  .long {
    @include set-ellipsis(2);
  }
}
